.navbar {
    height: 50px;
    width: 100%;
    text-align: right;
    line-height: 40px;
    margin: 0px;
    padding: 0px;
}

.navbar a {
    background-color: #ffffff;
    font-weight: bold;
    color: #000000;
    border: none;
    padding: 2px 5px 2px 5px;
    text-decoration: none;
}
.logo { 
    position : fixed; 
    left : 10px; 
    top : 10px;
    width: 130px; 
}