.navbar {
    position : fixed;
    height: 55px;
    width: 100%;
    top: 0;
    left: 0;
    text-align: right;
    line-height: 40px;
    margin: 0px;
    padding: 0px;
}

.navbar a {
    background-color: #ffffff;
    font-weight: bold;
    color: #000000;
    border: none;
    padding: 2px 5px 2px 5px;
    text-decoration: none;
}
.logo { 
    position : fixed; 
    left : 10px; 
    width: 130px; 
}
.butt {
    float: right;
    /* display: block; */
    color: #f2f2f2;
    text-align: center;

    /* text-decoration: none; */

}